In [3]:
pip install random

Defaulting to user installation because normal site-packages is not writeable
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement random (from versions: none)
ERROR: No matching distribution found for random

In [24]:
import pandas as pd
import numpy as np
import random


# Set the seed for reproducibility
seed_value = 42
random.seed(seed_value)
np.random.seed(seed_value)


# Number of records to generate
num_records = 2000

# Define possible values for categorical fields
age_groups = ['Young', 'Middle-aged', 'Senior']
attrition_status = ['Yes', 'No']
business_travel_options = ['Travel_Rarely', 'Travel_Frequently', 'Non-Travel']
#departments = ['Sales', 'Research & Development', 'Human Resources']
education_fields = ['Life Sciences', 'Other', 'Medical', 'Technical Degree']
genders = ['Male', 'Female']
job_roles = ['Clinical Trial Assistant', 'Clinical Research Associate I', 'Clinical Research Associate II', 'Senior CRA','Clinical Trial Manager','Clinical Project Manager']
marital_statuses = ['Single', 'Married', 'Divorced']
salary_slabs = ['Low', 'Medium', 'High']
over_time_options = ['Yes', 'No']

# Generate synthetic data
data = {
    'EmpID': [f"E{1000+i}" for i in range(num_records)],
    'Age': np.random.randint(18, 60, num_records),
    'AgeGroup': [random.choice(age_groups) for _ in range(num_records)],
    'Attrition': [random.choice(attrition_status) for _ in range(num_records)],
    'BusinessTravel': [random.choice(business_travel_options) for _ in range(num_records)],
    'DailyRate': np.random.randint(100, 1500, num_records),
    #'Department': [random.choice(departments) for _ in range(num_records)],
    'DistanceFromHome': np.random.randint(1, 30, num_records),
    'Education': np.random.randint(1, 5, num_records),
    'EducationField': [random.choice(education_fields) for _ in range(num_records)],
    'EmployeeCount': [1]*num_records,
    'EmployeeNumber': np.random.randint(1000, 9999, num_records),
    'EnvironmentSatisfaction': np.random.randint(1, 5, num_records),
    'Gender': [random.choice(genders) for _ in range(num_records)],
    'HourlyRate': np.random.randint(20, 100, num_records),
    'JobInvolvement': np.random.randint(1, 5, num_records),
    'JobLevel': np.random.randint(1, 6, num_records),
    'JobRole': [random.choice(job_roles) for _ in range(num_records)],
    'JobSatisfaction': np.random.randint(1, 5, num_records),
    'MaritalStatus': [random.choice(marital_statuses) for _ in range(num_records)],
    'MonthlyIncome': np.random.randint(2000, 20000, num_records),
    'SalarySlab': [random.choice(salary_slabs) for _ in range(num_records)],
    'MonthlyRate': np.random.randint(1000, 20000, num_records),
    'NumCompaniesWorked': np.random.randint(0, 10, num_records),
    'Over18': ['Y']*num_records,
    'OverTime': [random.choice(over_time_options) for _ in range(num_records)],
    'PercentSalaryHike': np.random.randint(10, 25, num_records),
    'PerformanceRating': np.random.randint(1, 5, num_records),
    'RelationshipSatisfaction': np.random.randint(1, 5, num_records),
    'StandardHours': [8]*num_records,
    'StockOptionLevel': np.random.randint(0, 4, num_records),
    'TotalWorkingYears': np.random.randint(0, 40, num_records),
    'TrainingTimesLastYear': np.random.randint(0, 10, num_records),
    'WorkLifeBalance': np.random.randint(1, 5, num_records),
    'YearsAtCompany': np.random.randint(0, 30, num_records),
    'YearsInCurrentRole': np.random.randint(0, 15, num_records),
    'YearsSinceLastPromotion': np.random.randint(0, 10, num_records),
    'YearsWithCurrManager': np.random.randint(0, 15, num_records)
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv("synthetic_employee_database.csv", index=False)

In [23]:
df.info

<bound method DataFrame.info of       EmpID  Age     AgeGroup Attrition     BusinessTravel  DailyRate  \
0     E1000   56       Senior       Yes  Travel_Frequently       1474
1     E1001   46        Young       Yes         Non-Travel       1231
2     E1002   32        Young       Yes      Travel_Rarely       1162
3     E1003   25       Senior       Yes      Travel_Rarely       1008
4     E1004   38  Middle-aged        No         Non-Travel        258
...     ...  ...          ...       ...                ...        ...
1995  E2995   43  Middle-aged       Yes      Travel_Rarely       1327
1996  E2996   42       Senior       Yes  Travel_Frequently       1118
1997  E2997   47        Young       Yes  Travel_Frequently        486
1998  E2998   28       Senior        No  Travel_Frequently        877
1999  E2999   24  Middle-aged       Yes  Travel_Frequently        197

                  Department  DistanceFromHome  Education    EducationField  \
0                      Sales                25          1           Medical
1                      Sales                 3          4  Technical Degree
2            Human Resources                16          4             Other
3            Human Resources                 2          3  Technical Degree
4            Human Resources                28          4             Other
...                      ...               ...        ...               ...
1995  Research & Development                28          3           Medical
1996                   Sales                27          3  Technical Degree
1997                   Sales                25          4  Technical Degree
1998  Research & Development                 8          1  Technical Degree
1999         Human Resources                23          3  Technical Degree

      ...  RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0     ...                         2              8                 0
1     ...                         4              8                 0
2     ...                         4              8                 3
3     ...                         4              8                 3
4     ...                         4              8                 2
...   ...                       ...            ...               ...
1995  ...                         2              8                 0
1996  ...                         1              8                 1
1997  ...                         1              8                 3
1998  ...                         3              8                 3
1999  ...                         3              8                 2

     TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                   13                      3                4
1                    2                      8                1
2                   18                      7                1
3                   32                      4                3
4                   20                      2                2
...                ...                    ...              ...
1995                31                      6                1
1996                24                      7                4
1997                27                      9                3
1998                20                      5                3
1999                 7                      4                4

      YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0                  1                  9                        8
1                 16                 11                        8
2                 24                 12                        3
3                 11                  2                        5
4                  1                  1                        2
...              ...                ...                      ...
1995              25                  9                        4
1996              26                 14                        5
1997               2                 12                        1
1998               2                  7                        2
1999               2                 12                        9

     YearsWithCurrManager
0                       2
1                       1
2                       3
3                      13
4                       4
...                   ...
1995                   13
1996                    4
1997                    6
1998                    9
1999                    3

[2000 rows x 38 columns]>

In [18]:

%reset -f